<div class="container footer-color" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

    <div fxFlex="100">
      <div fxLayout="row">
        <div fxFlex="40">
          <div fxLayout="column">
          <a mat-button><span>Home</span></a>
          <a mat-button><span>Sobre nós</span></a>
          <a mat-button><span>Contate-nos</span></a>
          <a mat-button><span>Menu</span></a>
        </div>
        </div>

        <div fxFlex="60">
          <h4>Onde estamos?</h4>
          <address>Rua Doutor Benedito de Godoy Ferraz, Jundiaí - SP <br>
            <i class="fa fa-phone"></i>: +55 11 96418-2054<br>
          </address>
          <h4>Prove já e tenha uma alimentação sem nada de origem animal</h4>
        </div>
      </div>
    </div>
</div>