    <div fxFlex>
      <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile  class="flex">
          <mat-grid-tile-header>
            <h1> {{dish.name | uppercase}} </h1>  
          </mat-grid-tile-header>
          <img height="400px" src={{dish.image}} alt={{dish.name}}>
          <p>{{dish.description}}</p> 
          <mat-grid-tile-footer>
            
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>        
          </mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>comments</p>
        </mat-grid-tile>

      </mat-grid-list>
    </div>




